```{=html}
<% for (const item of items) { %>

    <h4 style="margin-bottom: 25px; margin-top: 5px;"><a href="<%- item.path %>"><%= item.title %></a></h4>

    <listing-names>AUTORES</listing-names> <%= item.author %><br>

    <% if (item.doi) { %>
        <listing-names>DOI</listing-names> <a href="https://doi.org/<%- item.doi %>"><%= item.doi %></a><br>
    <% } else { %>

    <% } %>

    <listing-names>AÑO</listing-names> <span style="font-family: JetBrains Mono;"><%= item.date %></span><br>
    <% for (const semester of item.categories) { %>
        <listing-categories> <%= semester %> </listing-categories>
    <% } %>
  <hr style="margin-bottom: 0px;"><br>
<% } %>
```